# Copyright (c) 2024 ETH Zurich
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

# See root of repository for main configuration. We override ColumnLimit to a
# smaller value for examples that are shown in documentation to make sure they
# fit in a typical column of text.

BasedOnStyle: InheritParentConfig
ColumnLimit: 80
