# Copyright (c) 2023 ETH Zurich
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: Documentation

on:
  merge_group:
  pull_request:
    branches:
      # Development and release branches
      - main
      - release**
  push:
    branches:
      # Development and release branches
      - main
      - release**
      # Bors branches
      - trying
      - staging

jobs:
  build:
    name: github/documentation/build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install sphinx and a theme
        run: |
            sudo apt update
            sudo apt install \
                --allow-downgrades \
                --allow-remove-essential \
                --allow-change-held-packages \
                doxygen python3 python3-pip
            pip install breathe sphinx sphinx-material
      - name: Build documentation
        run: |
            export PIKA_DOCS_DOXYGEN_OUTPUT_DIRECTORY=$PWD/build/docs/doxygen
            export PIKA_DOCS_DOXYGEN_INPUT_ROOT=$PWD
            mkdir -p $PIKA_DOCS_DOXYGEN_OUTPUT_DIRECTORY
            doxygen docs/Doxyfile
            sphinx-build -W -a -b html docs $PWD/build/docs
      - name: Upload HTML output as artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: build/docs

  deploy:
    needs: build
    name: github/documentation/deploy
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.repository == 'pika-org/pika'

    permissions:
      contents: read
      pages: write
      id-token: write
    concurrency:
      group: "pages"
      cancel-in-progress: false
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy documentation to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
