# Copyright (c) 2023 ETH Zurich
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: Lint Yaml Files

on: [push, pull_request]

jobs:
  build:
    name: Lint Yaml Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Lint Yaml files
        uses: github/super-linter/slim@v5
        env:
          DEFAULT_BRANCH: main
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_YAML: true
          YAML_CONFIG_FILE: .yamllint.yml
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
