# Copyright (c) 2020 Mikael Simberg
#
# SPDX-License-Identifier: BSL-1.0
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

name: macOS CI (Debug)

on:
  push:
    branches:
      # Development and release branches
      - main
      - release**
      # Bors branches
      - trying
      - staging

jobs:
  build:
    name: github/macos/debug
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        # Workaround for https://github.com/actions/virtual-environments/issues/2322
        rm -rf /usr/local/bin/2to3
        brew upgrade
        brew update && \
            brew install boost hwloc gperftools ninja && \
            brew upgrade cmake
    - name: Configure
      shell: bash
      run: |
          cmake \
              -H. \
              -Bbuild \
              -GNinja \
              -DCMAKE_BUILD_TYPE=Debug \
              -DPIKA_WITH_UNITY_BUILD=ON \
              -DPIKA_WITH_EXAMPLES=ON \
              -DPIKA_WITH_TESTS=ON \
              -DPIKA_WITH_TESTS_HEADERS=OFF \
              -DPIKA_WITH_PARALLEL_TESTS_BIND_NONE=ON \
              -DPIKA_WITH_TESTS_MAX_THREADS=3 \
              -DPIKA_WITH_CHECK_MODULE_DEPENDENCIES=ON \
              -DPIKA_WITH_COMPILER_WARNINGS_AS_ERRORS=On
    - name: Build
      shell: bash
      run: |
          cmake --build build --target all
          cmake --build build --target tests
    - name: Test
      shell: bash
      run: |
          cd build
          ctest \
            -j3 \
            --output-on-failure \
            --timeout 120 \
            --exclude-regex \
          "tests.unit.modules.algorithms.default_construct|\
          tests.unit.modules.algorithms.destroy|\
          tests.unit.modules.algorithms.foreach_executors|\
          tests.unit.modules.algorithms.max_element|\
          tests.unit.modules.algorithms.replace_copy_if|\
          tests.unit.modules.execution.standalone_thread_pool_executor|\
          tests.unit.modules.resource_partitioner.used_pus"
